<!DOCTYPE html>
<html>
<head>
	<title>Landing page</title>
	<link rel='stylesheet' href='../stylesheets/landing.css'/>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body id="colored">
	<nav class="navbar navbar-default navbar-fixed-top" id="nav">
		<div class="container">
			<div class="navbar-header">
				 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-nav-demo" aria-expanded="false">
	        		<span class="sr-only">Toggle navigation</span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	        		<span class="icon-bar"></span>
	      		</button>

				<a class="navbar-brand">Devstrap</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/users/<%= user.uid %>">Home</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="/"><%= user.displayName.substr(0,user.displayName.indexOf(' ')) %></a></li>
			    	<li><a href="/signout">Sign Out</a></li>
				</ul>
			</div>
		</div>
	</nav>
			
		<div id="main-content">
			<div>
				<center><h1 id="login-headline">Welcome, <%= user.displayName.substr(0, user.displayName.indexOf(' ')) %>!</h1></center>
				<form method="post" action="/upload">
					<div>
						<center><input type="search" placeholder="Enter link here" onfocus="this.placeholder=''" onblur="this.placeholder='Enter link here'" name="text" id="logged-in-input"></center>
					</div>
					<div>
						<center><button type="submit" id="logged-in-query">submit</button></center>
					</div>
				</form>
			</div>
			
			<% for(var i=0; i < entries.length/2; i++) { %>
				<center><p><%= entries[i]['video_id'] %></p></center>
			<% } %>

			<center><p>the length of it is <%= entries.length %></p></center>

		</div>
	<!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>	

</body>
</html>